<!DOCTYPE html>
<html>
  <head>
    <title>Passport Auth</title>
    <link href="/home.css" type="text/css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    {{{body}}}

    <script>
      // flash messages
      const closeButton = document.getElementById('close');
      if(closeButton) {
        closeButton.addEventListener('click', (e) => {
          e.target.parentElement.parentElement.remove();
        });
      }
    </script>
  </body>
</html>