<main>

  {{#if success}}
    <div class="success-message">{{success}}</div>
  {{/if}}

  <h2>Create an account or login</h2>
  <a href="/users/register" id="register" class="button">Register</a>
  <a href="/users/login" id="login" class="button">Login</a>
</main>