<main>

  {{#if success}}
    <div class="message-box"><p class="success-message">{{success}}<span id="close">x</span></p></div>
  {{/if}}

  <h2>Create an account or login</h2>
  <a href="/users/register" id="register" class="button">Register</a>
  <a href="/users/login" id="login" class="button">Login</a>
</main>