<main>

  {{#if error}}
    <div class="error-message">{{error}}</div>
  {{/if}}

  <h2>Register</h2>
  <form method="POST" action="http://localhost:5000/users/register">
    Name<br>
    <input id="reg-name" name="name" type="text" value="{{#if name}}{{name}}{{/if}}" required><br>
    Email<br>
    <input id="reg-email" name="email" type="email" value="{{#if email}}{{email}}{{/if}}" required><br>
    Password<br>
    <input id="reg-password" class="password-check" name="password" type="password" required><br>
    Confirm Password<br>
    <input id="reg-password2" class="password-check" name="password2" type="password" required><br>
    <input id="reg-submit" type="submit" value="Register">
  </form>
  <div class="switch">Have an account? <a href="./login" id="login-link">Login</a></div>
</main>

<script src="/main.js"></script>